<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Navigation</title>

<link rel="stylesheet" href="horizontalnavigation.css">
</head>
<body>
<header>
<h1>Welcome To my First Website</h1>
<nav>
<a href="amrapura.html" target="_blank">transition</a>
<a href="calendar.html" target="_blank">calendar</a>
<a href="journey.html" target="_blank">First web-page</a>
<a href="displayprac.html" target="_blank">Display Practice</a>
</nav>
</header>
<section>
<h2>Learn ARP Poisoning with Examples</h2>
In this tutorial we will Learn -
<ul type="square">
<li>	What is MAC address and IP address? </li>
<li>	What is Address Resolution Protocol (ARP) Poisoning? </li>
<li>	Hacking Activity: Configure Static ARP in Windows </li>
</ul>
<h3>What is IP and MAC Addresses?</h3>
IP Address is the acronym for Internet Protocol address.  An internet protocol address is used to uniquely identify a computer or device such as printers, storage disks on a computer network. There are currently two versions of IP addresses. IPv4 uses 32-bit numbers. Due to the massive growth of the internet, IPv6 has been developed, and it uses 128-bit numbers.
IPv4 addresses are formatted in four groups of numbers separated by dots. The minimum number is 0, and the maximum number is 255. An example of an IPv4 address looks like this;
127.0.0.1
IPv6 addresses are formatted in groups of six numbers separated by full colons. The group numbers are written as 4 hexadecimal digits. An example of an IPv6 address looks like this;
2001:0db8:85a3:0000:0000:8a2e:0370:7334
In order to simplify the representation of the IP addresses in text format, leading zeros are omitted, and the group of zeros is completed omitted. The above address in a simplified format is displayed as;
2001:db8:85a3:::8a2e:370:7334
MAC Address is the acronym for media access control address. MAC addresses are used to uniquely identify network interfaces for communication at the physical layer of the network. MAC addresses are usually embedded into the network card.
A MAC address is like a serial number of a phone while the IP address is like the phone number.
</section>
</body>
</html>